/* Generic */

:root {
    --bg: #191919;
    --bg-secondary: #3A3B3C;
    --text: #FFF;
    --success: #6DA34D;
    --error: #BB3434;
    font-size: clamp(2.5vh, 1.3rem, 5vw);
    font-family: Arial, Helvetica, sans-serif;
    
    --primary: #B52B65;
    --secondary: #ED6663;
}

/* Page */

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: var(--bg);
    color: var(--text);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    width: 75%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-size: 3em;
}

#title-box {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

#aaa {
    flex: 1 1 auto;
    overflow: hidden;
    vertical-align: top;
    height: 100%;
    position: relative;
    margin-right: -1ch;
}

#lice {
    padding-left: 1ch;
}

#flex-spacer {
    flex: 1 1 auto;
}

#aaa-gradient {
    position: absolute;
    width: calc(100% - 1ch);
    height: 100%;
    background-image: linear-gradient(to right, var(--bg), transparent);
}

#aaa-scroll {
    position: absolute;
    right: -2ch;
}
#title-box:hover #aaa-scroll {
    animation: 0.5s linear infinite scroll;
}

@keyframes scroll {
    from {
        right: -2ch;
    }
    to {
        right: -1ch;
    }
}

.button {
    text-decoration: none;
    color: inherit;

    background-color: var(--primary);
    width: 100%;
    text-align: center;
    border-radius: 0.4em;
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom: 1em;
    font-size: 1.3em;

    transition: border-radius 0.1s;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5ch;
}
.button:hover {
    border-radius: 0.6em;
}
.button:active {
    opacity: 0.7;
}

.button > svg {
    height: 1em;
    width: 1em;
}

.button path {
    fill: var(--text)
}

.button {
    animation: slide-in calc((var(--offset) + 4) * 0.04s)  cubic-bezier(.66,.53,.59,1.46);
}

@keyframes slide-in {
    0% {
        transform: translateY(calc(var(--offset) * -0.2em - 0.5em));
    }
    100% {
        opacity: 1;
        transform: none;
    }
}


#dvd-wrapper {
    position: fixed;
    align-self: normal;

    animation: bounceY 25s infinite linear;
    animation-delay: -6.5s;  /* Start playing from middle */
}

#dvd {
    position: absolute;
    width: 5em;
    height: 2.5em;
    opacity: 0.5;

    animation: bounceX 29s infinite linear;
    animation-delay: -7.25s;  /* Start playing from middle */
}

#dvd path {
    animation: rainbow-svg 20s infinite linear;
}

@keyframes bounceX {
    0% {
        transform: translateX(0%);
    }   
    50% {
        transform: translateX(calc(100dvw - 5em));
    } 
    100% {
        transform: translateX(0%);
    }
}

@keyframes bounceY {
    0% {
        transform: translateY(0%);
    }   
    50% {
        transform: translateY(calc(100dvh - 2.5em));
    } 
    100% {
        transform: translateY(0%);
    }
}

@keyframes rainbow-svg {
    0% {
        fill: #ffffff;
    }
    9.1% {
        fill: #f498c0;
    }
    18.2% {
        fill: #7cc0ea;
    }
    27.3% {
        fill: #603917;
    }
    36.4% {
        fill: #000000;
    }
    45.5% {
        fill: #ee3124;
    }
    54.6% {
        fill: #f57f29;
    }
    63.7% {
        fill: #fff000;
    }
    72.8% {
        fill: #58b947;
    }
    81.9% {
        fill: #0054a6;
    }
    90% {
        fill: #9f248f;
    }
    100% {
        fill: #ffffff;
    }
}

@keyframes trans-svg {
    0% {
        fill: #7cc0ea;
    }
    25% {
        fill: #f498c0;
    }
    50% {
        fill: #ffffff;
    }
    75% {
        fill: #f498c0;
    }
    100% {
        fill: #7cc0ea;
    }
}

footer {
    position: absolute;
    bottom: 0;
    margin: 1em;

    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
